/* .ProviderDashboard {
    display: flex;
    
  }
  
  .sidebar {
    width: 100%; 
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: rgba(248, 249, 250, 0.9); 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar-top {
    padding: 20px;
  }
  
  .sidebar-bottom {
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .sidebar nav ul li:hover {
    text-decoration: underline;
  }
  
  .sidebar button {
    display:inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
  

.sidebar button:hover {
    background-color: #0056b3;
    }
    
    .content {
    margin-left: 500px; 
    padding: 20px;
    width: 100%;
    }
    
    .content form {
    margin-bottom: 20px;
    }
    
    .content form label {
    display: block;
    margin-bottom: 10px;
    }
    
    .content form label span {
    color: red; 
    margin-left: 5px;
    }
    
    .providers-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    }
    
    .provider-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    }
    
    .provider-status {
    margin-top: 20px;
    }
    
    @media (max-width: 768px) {
    .sidebar {
    width: 200px; 
    }
    
    .content {
    margin-left: 200px; 
    }
    } */